/* General */

body {
  width: 400px;
  min-height: 100px;
  background-color: #4db6ac;
}

.sub {
  width: 100%;
}

.error-cont .card-panel {
  padding: 10px;
  margin: 0 0 10px 0;
}

/* Home Section */

#title {
  padding-top: 80px;
}

#nav-buttons {
  padding: 80px 0 40px 0;
}

#nav-buttons button {
  width: 150px;
}

/* Repos Section */

.action-btns {
  padding-top: 10px;
  border-top: 1px solid #e0e0e0;
}

.action-btns .btn {
  width: 110px;
  padding: 0 10px; 
}

.action-btns .btn i {
  margin-left: 5px !important;
}

/* Repo Index */

#repo-list .collection {
  border-left: none;
  border-right: none;
}

#repo-list .collection-item {
  font-size: 1.5em;
  cursor: pointer;
  border-left: none;
  border-right: none;
}

.repo-name {
  padding: 0 !important;
}

.repo-link {
  padding-right: 0 !important;
  padding-left: 5px !important;
}

#nav-area {
  height: 60px;
  max-height: 60px;
  padding: 10px;
}

/* Repo View / Link Index */

#repo-details-back {
  /* flip horizontally */
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

#nav-area .repo-name {
  display: inline-block;
  max-width: 350px;
  margin-left: 5px;
  font-size: 2em;
}

#nav-area a {
  margin: 0 3px;
}

#repo-details .collection {
  border-left: none;
  border-right: none;
}

.link-details {
  padding: 0 !important; 
}

.link-title {
  line-height: 1.2em;
  font-size: 1.2em;
  margin-bottom: 3px;
}

.link-url {
  overflow-wrap: break-word;
  line-height: 1em;
  font-size: 0.9em;
}

.link-action-btns {
  padding-left: 5px !important;
  padding-right: 0 !important;
}

.link-action-btns i {
  color: #4db6ac;
}

.settings-heading {
  border-bottom: 1px solid #9e9e9e;
  font-size: 2em;
}

/* Materialize overrides for input feilds */

/* label color */
#home .input-field label {
  color: white;
}
#home .input-field input {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white;
}
/* label focus color */
#home .input-field input[type=text]:focus + label {
  color: white;
}
/* label underline focus color */
#home .input-field input[type=text]:focus {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white;
}
/* label focus color */
#home .input-field input[type=password]:focus + label {
  color: white;
}
/* label underline focus color */
#home .input-field input[type=password]:focus {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white;
}
/* label focus color */
#home .input-field input[type=email]:focus + label {
  color: white;
}
/* label underline focus color */
#home .input-field input[type=email]:focus {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white;
}
/* invalid color */
#home .input-field input[type=text].invalid {
  border-bottom: 1px solid #ffb300;
  box-shadow: 0 1px 0 0 #ffb300;
}

/* label focus color */
#general .input-field input[type=text]:focus + label {
  color: #4db6ac;
}
/* label underline focus color */
#general .input-field input[type=text]:focus {
  border-bottom: 1px solid #4db6ac;
  box-shadow: 0 1px 0 0 #4db6ac;
}
/* label focus color */
#general .input-field input[type=password]:focus + label {
  color: #4db6ac;
}
/* label underline focus color */
#general .input-field input[type=password]:focus {
  border-bottom: 1px solid #4db6ac;
  box-shadow: 0 1px 0 0 #4db6ac;
}
/* label focus color */
#general .input-field input[type=email]:focus + label {
  color: #4db6ac;
}
/* label underline focus color */
#general .input-field input[type=email]:focus {
  border-bottom: 1px solid #4db6ac;
  box-shadow: 0 1px 0 0 #4db6ac;
}

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

/* overrides tab underline */
.indicator {
  background-color: #ffe082 !important; /* amber lighten-3 */
}

.collection .collection-item {
  padding: 10px;
}

.pagination .active {
  background-color: #ffb300 !important;
}