/* General */

body {
  width: 400px;
  min-height: 100px;
  background-color: #4db6ac;
}


/* Home Section */

#title {
  padding-top: 80px;
}

#nav-buttons {
  padding: 80px 0 40px 0;
}

#nav-buttons button {
  width: 100px;
}

/* Repos Section */

#repo-list ul {
  border: none;
}

#repo-list li {
  font-size: 1.5em;
  cursor: pointer;
  border-left: none;
  border-right: none;
}

#nav-area {
  height: 60px;
  max-height: 60px;
  padding: 10px;
}

#repo-details-back {
  display: inline-block;
  font-size: 30px;
  margin-top: 5px;
  margin-right: 7px;
  cursor: pointer;

  /* flip horizontally */
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

#nav-area .repo-title {
  display: inline-block;
  max-width: 300px;
  margin-top: 7px;
  font-size: 2em;
}

#nav-area a {
  margin: 0 3px;
}

#repo-details ul {
  border-left: none;
  border-right: none;
}

.link-details {
  padding: 0 !important; 
}

.link-title {
  line-height: 1.2em;
  font-size: 1.2em;
  margin-bottom: 3px;
}

.link-url {
  overflow-wrap: break-word;
  line-height: 1em;
  font-size: 0.9em;
}

.link-action-btns {
  padding-left: 8px !important;
  padding-right: 0 !important;
}

.link-action-btns i {
  padding: 0 2px;
  font-size: 20px !important;
  color: #4db6ac;
  cursor: pointer;
}


/* Materialize overrides for input feilds */

/* label color */
.input-field label {
  color: white;
}
.input-field input {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: white;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white;
}
/* label focus color */
.input-field input[type=password]:focus + label {
  color: white;
}
/* label underline focus color */
.input-field input[type=password]:focus {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white;
}
/* label focus color */
.input-field input[type=email]:focus + label {
  color: white;
}
/* label underline focus color */
.input-field input[type=email]:focus {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white;
}

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

/* overrides tab underline */
.indicator {
  background-color: #ffe082 !important; /* amber lighten-3 */
}